<br/>
<blockquote class="pull-right">
  <p>Our goal is to provide a professional tool which aids daily human resource practices in organisations all over the
world.
  </p>
  <small>Dirk Grandjean <cite title="Source Title">Founder of the project</cite></small>
</blockquote>

<br/>
<br/>
<br/>
<br/>
<br/>
<h4>You've made it!</h4>
<p>Welcome to the Blue Robin project. Whether you are just a visitor or seriously interested, feel free to navigate around the page.</p>
