<br/>
<h4>The added value for you as an organisation</h4>
<ol>
  <li>Entry barrier</li>
  <li>Open-source/sustainability</li>
  <li>Customisation</li>
  <li>Ownership</li>
</ol>



<h5>Entry barrier</h5>
<p>By providing a free software the Blue Robin project lowers the entry barrier for organisations to use Blue Robin. Therefore from a financial point of view Blue Robin becomes an interesting piece of art for an organisation to consider.</p>

<h5>Open-source + sustainability</h5>
<p>The software, Blue Robin, contains a MIT license which allows free usage. The aim is to share the software all across the world in order to establish world-wide acceptance. The strenght of open-source project is that fact that everyone with mad skillz can join the project and improve it. The Blue Robin project aims to reach out to those developers. For you, this means that your own IT experts can also participate in the project. A better and faster software is in best interest of all parties.</p>

<h5>Customisation</h5>
<p>Once you have downloaded the source code you will be able to adjust the software according to your own needs. In this way, the software will always fit your organisation. Once you have made your awesome changes we hope that you are willing to share those. If it is a great change, we can include it in the next release to make the software even more amazing.</p>

<h5>Ownership</h5>
<p>Since you own the software (source-code), you (as an organisation) are not dependent on the financial continuity of any organisation. Whereas before, you are dependent on the position and resources of the organisation you license the software from, you are the owner of Blue Robin. Therefore you will be able to run it within your own server and your own IT experts will be to sustain it.</p>
<p>Like stated in the open-source section. Everybody is owner of the Blue Robin project and therefore everyone with development skills can improve the software. Over time you will see that this will benefit your organisation, the project and the community. An excellent example of a succesfull open-source project is Ubuntu, which is a Linux operating system.</p>
