<br/>
<h4>Once upon a time..</h4>
<p>..there was a man with an idea and a company willingess to realise this idea.</p>
<p>The project started early 2013 as a coorporation between IceFlag and Greenpeace. Iceflag is a coorporation specialised in human resources software developed whereas Greenpeace has an excellent taste for awesome software.</p>

<h5>Philosophy</h5>
<p>Current human resource (HR) systems are often expensive and needs to licensed in order to use it. Often this results in over-priced software which is mostly focused on automating HR rather than sharing some love. A company often needs only a part of you, for example, your awesome marketing skils. This is what we call a human resource. However often there is a person (with its owm personality) attached to it. This makes it hard to manage. Should we manage only the human resource? Or should we manage the person as a whole? This is often the question organisations are struggeling with. Blue Robin aims to bring in the human site in a software systems by providing a tool rather than a management system. We believe the HR manage is the expert in managing the human resource and person. Blue Robin aims to support the HR manager by providing tools which he/she can use to forefill the daily HR practises.</p>

<h5>Values</h5>
<p>The project is founded on the following values:</p>
<ul>
  <li>Knowledge-sharing</li>
  <li>Work/life balance</li>
  <li>Positive approach</li>
  <li>Passion for HR</li>
</ul>
<p>It is important to communicate those values because you will find them back in the software functions.</p>
